.sidebar-bot {
      background-color: #111;
    }

    .navBot-container.navBot_hide {
      display: none;
    }

    .navBot-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      padding-left: 0px;
      justify-content: center;
      margin: 0px;
    }

    .navBot-list li {
      -webkit-flex-basis: 33.3333%;
      -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;
      text-align: center;
      list-style: none;
    }

    .navBot-list li a {
      font-weight: 500;
      font-size: 0.66rem;
      letter-spacing: 0.04rem;
      color: white;
      padding: 0.75rem 0.5rem;
      text-transform: uppercase;
      display: inline-block;
      text-decoration: none;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-transition: 0.1s;
      transition: 0.1s;
    }

    .navBot-list li a:hover {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }

    .navBot-list li a i {
      pointer-events: none;
      display: block;
      margin: 0 auto 0.1rem;
      fill: white;
      display: block;
      font-size: 40px;
      margin-bottom: 10px;
    }

    .btn_navBot span {
      font-size: 40px;
      cursor: pointer;
      margin: 10px;
      color: white;
    }

    @media(max-width: 767px) {
      .sidebar-bot {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1000;
        width: 100%;
      }
    }

    @media(min-width: 768px) {
      .navBot-container.navBot_hide {
        display: inherit;
      }

      .btn_navBot span {
        display: none;
      }

      .sidebar-bot {
        max-width: 150px;
      }

      .navBot-list {
        flex-direction: column;
        min-height: 100vh;
      }

      .navBot-list li a span {
        font-size: 14px;
        display: block;
        -webkit-transform: translateX(-200px);
        transform: translateX(-200px);
        -webkit-transition: 0.1s;
        transition: 0.1s;
        margin-bottom: 10px;
      }

      .navBot-list li a span.hoverNav {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
      }
    }